# Logs
node_modules/
backend/node_modules/
Bazaarly/node_modules/
dist/
*.log

# Secrets
.env
*.env
backend/.env
Bazaarly/.env
ServiceAccountKey.json
backend/ServiceAccountKey.json

# System Files
.DS_Store
.vscode/

# Config (Do NOT ignore these)
!package.json
!package-lock.json