.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: #1E2128FF;
  border-radius: 16px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.3s ease, background 0.3s ease;

  /* MOBILE SIZE */
  width: 160px; 
  height: 160px; 
}

.icon {
  width: 40px; 
  height: 40px;
  margin-bottom: 10px;
  filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(109deg) drop-shadow(0px 0px 5px rgba(63, 136, 158, 0.685));
  transform: translateY(0);
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  font-weight: 600; 
  color: #F3F4F6;
}

.description {
  display: none;
}

/* --- TABLET & DESKTOP --- */
@media (min-width: 769px) {
  .base {
    /* flex-basis at 30% allows 3 items with space between them */
    flex: 0 1 30%; 
    min-width: 320px; /* Ensures they stay large */
    height: 250px; /* Bigger height for more presence */
    padding: 30px;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    
  }

  .title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .description {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    color: #BDC1CA;
  }

  .base:hover {
    background: #252932;
    animation: jump 1s infinite alternate;
  }
}

@keyframes jump {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}